
.product_price
{
    font-size: 100%;
}

.old_price
{
    text-decoration: line-through;
    color: #777777;
}

img
{
    max-height: 200px;
    padding-right: 20px;
}

.img-small
{
    max-height: 50px;
}
